In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.impute import SimpleImputer

In [2]:
# load the dataset
df = sns.load_dataset('titanic')
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [3]:
# drop deck colm
df.drop('deck', axis=1,  inplace=True)

In [4]:
# impute missing value of age and fare using median
imputer = SimpleImputer(strategy='median') 
df[['age', 'fare']] = imputer.fit_transform(df[['age', 'fare']])

# impute missing value of embark town using mode
imputers = SimpleImputer(strategy='most_frequent')
df[['embark_town', 'embarked']] = imputers.fit_transform(df[['embark_town', 'embarked']])

In [5]:
df.isnull().sum()

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
embark_town    0
alive          0
alone          0
dtype: int64

In [6]:
# encode the categorical and object variable using for loop
le = LabelEncoder()
for col in df.select_dtypes(include=['category', 'object']):
    df[col] = le.fit_transform(df[col])

In [7]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,embark_town,alive,alone
0,0,3,1,22.0,1,0,7.2500,2,2,1,True,2,0,False
1,1,1,0,38.0,1,0,71.2833,0,0,2,False,0,1,False
2,1,3,0,26.0,0,0,7.9250,2,2,2,False,2,1,True
3,1,1,0,35.0,1,0,53.1000,2,0,2,False,2,1,False
4,0,3,1,35.0,0,0,8.0500,2,2,1,True,2,0,True

In [8]:
x = df.drop('survived', axis=1)
y = df['survived']

In [9]:
# split the into train and test
x_train, x_test, y_train, y_test = train_test_split(x, y , test_size=0.2, random_state=42)

In [10]:
# creat and train the model
model = DecisionTreeClassifier()
model.fit(x_train, y_train)

# predict the model
y_pred  = model.predict(x_test)

In [11]:
#evalutate the model 
print("confusion_matrix: \n", confusion_matrix(y_test, y_pred))
print("classification_report: ", classification_report(y_test, y_pred))

confusion_matrix:
 [[105   0]
 [  0  74]]
classification_report:                precision    recall  f1-score   support

           0       1.00      1.00      1.00       105
           1       1.00      1.00      1.00        74

    accuracy                           1.00       179
   macro avg       1.00      1.00      1.00       179
weighted avg       1.00      1.00      1.00       179

In [12]:
# save the decision Tree
from sklearn.tree import export_graphviz
export_graphviz(model, out_file='./saved_model/decision_tree_01.dot', feature_names=x.columns, filled=True, rounded=True)

###  for show the model you will have to install dot or Graphviz preview extension in vscode

## Assignment 
Try decision Tree regressor for regression